
th:first-child, td:first-child {
    background-color: red;
}


th:nth-last-child(1), td:nth-last-child(1) {
    background-color: red;
}

table,th,td{
    border: 1px black solid;
    border-collapse: collapse;
}


.error{
    color: red;
    text-shadow: 1px 1px black;
    
}

